**theory questions**

ques 1 What are data structures, and why are they important?

Data structures are formats for organizing,and storing data in a computer. They  are essential tools in computer  because they help make data processing more efficient and enable the implementation of more complex solutions.

ques 2 :Explain the difference between mutable and immutable data types with example.

In programing , mutable data types can be changes once created . we can modify according to our liking but immutable data type cannot be chnaged after creation. for example

In [ ]:
# mutable data
a=["mohit","tina",1.2,6]
a.append("rahul") # adding rahul to the list
print(a)

['mohit', 'tina', 1.2, 6, 'rahul']

In [ ]:
#immutable data
a=(1,2,3)
#a(o)=10  # tuples are immutable, this line causes an error
print(a)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-5-6502d77f70b6>, line 3)

ques 3 What are the main differences between lists and tuples in Python?

difference between	List and Tuple :

* mutability = list are mutable whereas tuple are immutable , means you can make changes in list afer creation but its not possible in tuple, hence it is immutable.
* Syntax = in list syntax	Defined with square brackets [] and in tuple syntax	Defined with parentheses ()
* Performance =list are  Slower  in performance due to mutability	but tuple is Faster in performance due to immutability.
* Methods =list 	Supports more methods (e.g., .append(), .remove()) but tuple support	Fewer methods (e.g., .count(), .index())

ques 4  Describe how dictionaries store data?

Dictionaries in python are data structures that store data as key-value pairs. Each key is unique, and it is used to put up the associated values of the key.

ques 5 Why might you use a set instead of a list in Python?

There are many reason to use set instead of a list such as :
* duplication : There is no duplication of data in set .  If you need to store only unique items, a set is a better choice as it ensures there are no duplicates, while a list allows repeated values.
* mutability : Elements in a set are immutable, you can use it to make sure that only immutable types like strings, numbers, and tuples are included , whereas in list , it allow mutable types which might not be suitable for certain cases.
* quicker search : when it comes to searching if an item belongs to the particular data  or not  , sets show the quicker result .

ques 6 What is a string in Python, and how is it different from a list ?

 A string is a sequence of characters, which is used to represent a text it is generally enclosed in single (') or double (") quotes. it can consist of letters, numbers, symbols, and whitespace.  
 difference betweeen string and list:
 * element = A string can only store characters (text). Each element of a string is a character but  on the other hand , a  list can store any type of object, including strings, numbers, or other lists. It can hold a collection of different data types.
 * mutability : Once a string is created, it cannot be changed. You cannot modify individual characters of a string. but you can store everything in list and it can be changed according to the condition .
 *operations = string support operations like , concatenation (+), repetition (*), and slicing to extract parts of the text. lists support operations like  .append, .insert, .remove, and .sort .

ques 7  How do tuples ensure data integrity in Python ?

Tuples ensure data security due to its immutability. Once a tuple is created, its contents cannot be changed which means no items can be added, removed, or changed. once the tuple is created , the data in it remain constant throughout the program execution . Here's how tuples help ensure data security.

ques 8 What is a hash table, and how does it relate to dictionaries in Python ?

A hash table is a data structure used to store key-value pairs, where each key is hashed into a unique index. it convert the key into an index where the value is stored .
The built-in dictionary is an implementation of a hash table. Here's how dictionaries in Python relate to hash tables.

ques 9 Can lists contain different data types in Python ?

Yes, lists can contain different data types. Python lists are heterogeneous, meaning they can store elements of different types such as  integers, strings, floats, boolean and other list as well.

ques 10 Explain why strings are immutable in Python?

Strings are immutable which means once a string is created, its contents cannot be changed. due to this characteristic of strings in Python it serves several important purposes such as , it work faster than other data type due to its immutability and once the string is created , the data in it remain constant throughout the program execution . Here's how string help to ensure data security.   

ques 11  What advantages do dictionaries offer over lists for certain tasks?

Dictionaries offer several advantages over list for certain task such as:

* use of unique keys : Dictionaries's  keys are unique. If you try to insert a duplicate key, the new value will overwrite the existing value whereas the Lists allow duplicate elements, so you may end up with multiple elements of the same value, which is not ideal if you need  uniqueness.
*faster lookup : Dictionaries are implemented using hash tables, this means that retrieving a value associated with a specific key is very fast on the other hand  lists require more  time to search for an element.
*key value pairs : Dictionaries allow you to store key-value pair. Each key in a dictionary must be unique, and  can be accessed directly by their corresponding keys.lists, on the other hand,list store data in an ordered sequence which means  you'd need to manually track indexes.

ques 12  Describe a scenario where using a tuple would be preferable over a list ?

A tuple would be preferable over a list in scenarios where you need an immutable, fixed-size collection of elements. for example : you're making a list of salary of employees which you don't need to modify for longer periods . in that case tuple would be preferable since you dont want the data to be changes accidently .

ques 13  How do sets handle duplicate values in Python ?

 A set is a collection data type that automatically removes duplicate values. This means that a set can only contain unique elements—if you attempt to add a duplicate value to a set, the set will ignore it.

ques 14  How does the “in” keyword work differently for lists and dictionaries ?

When you use the "in" keyword with a list, Python checks if the value exists in the list. It will return True if the value is found anywhere , and False if the value is not found.
in list , the  "in" keyword checks for the presence of the value while in dictionaries , the "in" keyword checks for the presence of the key.

ques 15  Can you modify the elements of a tuple? Explain why or why not .

No, you cannot modify the elements of a tuple once it is created. This is because tuples are immutable in Python. Immutable means that the contents of a tuple cannot be changed after it is created.

ques 16  What is a nested dictionary, and give an example of its use case.

A nested dictionary  refers to a dictionary where the other values is itself another dictionary. it allow you to store multiple data at once.
for example

In [ ]:
# Creating a nested dictionary
inventory = {
    'fruits': {'apple': 50,'banana': 100,'mango': 75},
    'vegetables': {'carrot': 200,'broccoli': 150,'spinach': 300}
}

# Iterating through a nested dictionary
for category, items in inventory.items():
    print(f"Category: {category}")
    for item, quantity in items.items():
        print(f"  {item}: {quantity}")

Category: fruits
  apple: 50
  banana: 100
  mango: 75
Category: vegetables
  carrot: 200
  broccoli: 150
  spinach: 300

ques 17  Describe the time complexity of accessing elements in a dictionary.

dictionary operations are very efficient in practice and tend to perform in constant time under normal circumstances.

Average case for access, insertion, and deletion: O(1)
Worst case for access, insertion, and deletion: O(n)
but this is rare and happens only due to hash collisions or resizing.

ques 18  In what situations are lists preferred over dictionaries ?

lists are better option than dictionaries in many situation such as :

* Lists are ideal for homogeneous collections where the data items are of the same type, such as numbers, strings, or objects.

*  Lists are simpler and more efficient when you only care about storing data based on position rather than a key-value association.

* Lists generally use less memory than dictionaries because they don't store key-value pairs.


ques 19  Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because,  the order of key-value pairs in a dictionary was not organised . the keys in a dictionary didn't have  any particular  order. This was because dictionaries were implemented using a hash table that did not maintain the  order of element.

ques 20 Explain the difference between a list and a dictionary in terms of data retrieval ?

The main difference between a list and a dictionary in terms of data retrieval lies in how you access and search for elements.
A list is an ordered collection of elements where each element has a specific index position starting from 0. you can access each element by their index position.

dictionary is a collection of key-value pairs. Each element in a dictionary has a unique key.  you can only access the element by using the key.

**pratical questions**

In [ ]:
#ques 1  Write a code to create a string with your name and print it
name = "silky chauhan"
print(name)

silky chauhan

In [1]:
#ques 2 Write a code to find the length of the string "Hello World"
a="Hello World"
b=len(a)
print(b)

11

In [3]:
#ques 3  Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
b=a[:3]
print(b)

Pyt

In [4]:
#ques 4  Write a code to convert the string "hello" to uppercase
a= "hello"
b=a.upper()
print(b)

HELLO

In [5]:
# ques 5  Write a code to replace the word "apple" with "orange" in the string "I like apple
a="I like apple"
b=a.replace("apple","orange")
print(b)

I like orange

In [6]:
# ques 6  Write a code to create a list with numbers 1 to 5 and print it
a=[ 1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [8]:
#ques 7  Write a code to append the number 10 to the list [1, 2, 3, 4]
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [9]:
# ques 8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a = [ 1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [12]:
#ques 9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a=['a','b','c','d']
b=a[1]
print(b)

b

In [13]:
# ques 10  Write a code to reverse the list [10, 20, 30, 40, 50]
a = [10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [15]:
#ques 11 Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple1=(10,20,30)
print(tuple1)

(10, 20, 30)

In [16]:
#ques 12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple1=('apple','banana','cherry')
print(tuple1[0])

apple

In [17]:
#ques 13  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a=(1,2,3,2,4,2)
b=a.count(2)
print(b)

3

In [33]:
#ques 14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a=('dog','cat','rabbit')
b=a.index('cat')
print(b)

1

In [25]:
#ques 15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
a=('apple','orange','banana')
b='banana'in a
print(b)

True

In [26]:
#ques 16  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
a ={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [27]:
#ques 17  Write a code to add the element 6 to the set {1, 2, 3, 4}.
a = {1,2,3,4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}

In [28]:
# ques 18  Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup_1=(10,20,30)
print(tup_1)

(10, 20, 30)

In [29]:
# ques 19  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup_1 = ('apple','banana','cherry')
print(tup_1[0])

apple

In [31]:
#ques 20  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a =(1,2,3,2,4,2)
b=a.count(2)
print(b)

3

In [32]:
# ques 21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog','cat','rabbit')
b=a.index('cat')
print(b)

1

In [34]:
#ques 22  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
a = ('apple','orange','banana')
b='banana' in a
print(b)

True

In [35]:
# ques 23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
a = { 1,2,3,4,5 }
print(a)

{1, 2, 3, 4, 5}

In [39]:
a = {1, 2, 3, 4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}